<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/diagnostico.css">
</head>
<body>
    <div class="swot">
        <h1>Diagnóstico</h1>
        <div class="segment" id="azul">
            <h2>Saúde</h2>
            <div class="category"><strong>Ameaças:</strong> Subgrupos atingidos: Idosos, crianças, população de baixa
                renda</div>
            <div class="category"><strong>Oportunidades:</strong> Subgrupos atingidos: Pessoas com doenças crônicas,
                população em geral, trabalhadores da saúde</div>
            <div class="category"><strong>Fraquezas:</strong> Subgrupos atingidos: Pessoas sem seguro de saúde,
                população rural, população sem alfabetização em saúde</div>
            <div class="category"><strong>Forças:</strong>Subgrupos atingidos: Profissionais de saúde, gestores de saúde
                pública, população educada em saúde</div>
        </div>
        <div class="segment" id="verde">
            <h2>Saneamento</h2>
            <div class="category"><strong>Ameaças:</strong> Subgrupos atingidos: População de baixa renda, população
                rural, comunidades indígenas</div>
            <div class="category"><strong>Oportunidades:</strong> Subgrupos atingidos: Empresas de infraestrutura,
                governos locais, comunidades em desenvolvimento</div>
            <div class="category"><strong>Fraquezas:</strong> Subgrupos atingidos: Comunidades sem acesso a água
                potável, população sem acesso a saneamento básico, zonas rurais isoladas</div>
            <div class="category"><strong>Forças:</strong>Subgrupos atingidos: Engenheiros e trabalhadores da construção
                civil, setor público, ONGs</div>
        </div>
        <div class="segment" id="roxo">
            <h2>Segurança</h2>
            <div class="category"><strong>Ameaças:</strong> Subgrupos atingidos: Crianças, mulheres, população de baixa
                renda</div>
            <div class="category"><strong>Oportunidades:</strong> Subgrupos atingidos: Forças de segurança, empresas de
                segurança privada, setor de tecnologia</div>
            <div class="category"><strong>Fraquezas:</strong> Subgrupos atingidos: Comunidades em áreas de alta
                criminalidade, vítimas de crimes, população sem acesso a recursos legais</div>
            <div class="category"><strong>Forças:</strong>Subgrupos atingidos: Profissionais de justiça, forças de
                segurança, ativistas sociais</div>
        </div>
        <div class="segment" id="marom">
            <h2>Regularização</h2>
            <div class="category"><strong>Ameaças:</strong> Subgrupos atingidos: Imigrantes, população de baixa renda,
                trabalhadores informais</div>
            <div class="category"><strong>Oportunidades:</strong> Subgrupos atingidos: Advogados e juristas, setor
                público, ONGs</div>
            <div class="category"><strong>Fraquezas:</strong> Subgrupos atingidos: Pessoas sem documentos, comunidades
                marginalizadas, população sem acesso a serviços legais</div>
            <div class="category"><strong>Forças:</strong>Subgrupos atingidos: Serviços de assistência jurídica,
                ativistas de direitos humanos, governo</div>


        </div </div>
        <footer>
            ® Newmann Naba Costa & Jader Porto
        </footer>
</body>
</html>