<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fundiaria</title>
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/index.html"><img src="./public/img/fundiaria.jpeg">fundiaria</a></li>
                <li><a href="/"><img src="./public/img/saniamento.jpeg">Saneamento Basico</a></li>
                <li><a href="/views/segurança.html"><img src="./public/img/segurança.jpeg">Seguranca</a></li>
                <li><a href="/views/saude.html"><img src="./public/img/saude.jpeg">Saude</a></li>
                <li><a href="views/diagnostico.html">Diagnóstico</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>